.loading-die-outer{
    width: 100vw;
    height: 80vh;
    padding-top: 20vh;

}

.loading-die-inner{
    width:30vw;
    height:30vw;
    margin: auto;

    border-radius: 20%;

    background-color: var(--clr-acc-dark);


}

.loading-text{
    width:30vw;
}