.LandingPage {
    height: 80vh;
    width: 100%;
  
    text-align: center;
  
    background-color: var(--clr-bg-alt);
    padding-top: 20vh;    
}

.LandingPage-inner{
    width:60vw;
    height:max-content;
    padding: 5vw;

    margin-left: auto;
    margin-right: auto;
   


    border-radius: 10vw;

    background-color: var(--clr-bg-main);
}

.landing-title{
    color: var(--clr-acc-dark);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, fantasy;
    font-variant:small-caps;
    font-stretch: expanded;

    font-size: 10vh;
    margin: auto;
}

.css-ahj2mt-MuiTypography-root{
    color: var(--clr-acc-dark);

}
.css-jsexje-MuiSwitch-thumb{
    color: var(--clr-acc-light);

}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    background-color: var(--clr-acc-light);
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    color: var(--clr-acc-dark);
    background-color: var(--clr-acc-dark);
}