.die-face-one,
.die-face-two,
.die-face-three,
.die-face-four,
.die-face-five,
.die-face-six{
    width: 85%;
    height: 85%;
    padding: 7%;

    column-gap: 2.5%;
    row-gap: 2.5%;
    


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center space-evenly;

    
    
}

.empty-dot{
    width: 80%;
    height: 80%;
}

.dot{
    background-color: var(--clr-acc-light);
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: auto;
}






