.die-face-one,
.die-face-two,
.die-face-three,
.die-face-four,
.die-face-five,
.die-face-six{
    width: 70vw;
    height: 70vw;
    padding: 5vw;

    column-gap: 2.5vw;
    row-gap: 2.5vw;
    


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center space-evenly;

    
    
}

.empty-dot{
    width: 15vw;
    height: 15vw;
}

.dot{
    background-color: var(--clr-acc-light);
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    margin: auto;
}






